@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

body {
  background: #e0aed0;
}

.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.quote-box h2 {
  font-size: 32px;
  margin-bottom: 30px;
  position: relative;
}

.quote-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 5px;
  background: #756ab6;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';
}

.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before {
  content: "";
  width: 20px;
  height: 2px;
  background: #756ab6;
  position: absolute;
  top: 50%;
  left: -30px;
}

.quote-box .div-btn {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quote-box button {
  background: #756ab6;
  color: #fff;
  border-radius: 25px;
  border: 1px solid #756ab6;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  transition: ease 0.3s;
}

.quote-box button:hover {
  background: #ac87c5;
  color: #fff;
}

.quote-box button img {
  width: 20px;
  margin-right: 10px;
}

.quote-box button:nth-child(2) {
  background: transparent;
  color: #000000;
}
